 body {
    background-color: #F1F0E8 ;
 }
 header {
   border: 1px solid #656869;
   padding: 30px;
   text-align: center;
   border-radius: 20px;
 }
 h1 {
   color: #606470 ;
 }
 p {
   font-style: italic;
 }
 img {
   width: 40%;
   border: 3px solid #89A8B2 ;
   border-radius: 50px;
   display: block;
   margin: 0 auto;
  }

  img:hover {
      transform: scale(1.1);
      transition: all .4s ease-in-out;
  }
 button {
   margin-top: 30px;
   padding: 10px 20px;
   background-color:  #B3C8CF;
   color: white ;
   border: none;
   color: #4A4947 ;
   cursor: pointer;
 }
  button:hover {
        transform: scale(1.1);
        transition: all .4s ease-in-out;
        background-color: #606470;
        color: #B3C8CF;
}
.about  {
    display: flex;
    padding: 30px;
} 

about img {
    width: 40%;
}
.about p {
  padding-left: 40px;
  margin: auto;
}
.project {
  width: 90%;
  text-align: center;
  color: #606470;
}
.project-image {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 10px;
}
footer {
  margin-top: 30px;
  background-color: #656869;
  padding: 20px;
  text-align: center;
        color: #B3C8CF;
}
